# .gitignore file
#
# RELEASE BRANCH Setup for Microchip/MPLAB X development environment
# The only files allowed in this release branch are hex files of release 
# versions and binaries of additional tools required to operate the 
# hardware.
#
# Created: June 05, 2019, M91406
# Updated: 

# Exclude all project files and folders
*.*
common/
src/
h/
dspic/debug
dspic/disassembly/
dspic/dist/
dspic/nbproject/
dspic/nbproject/*.*
dspic/h/
dspic/src/
PIC24/debug
PIC24/disassembly/
PIC24/dist/
pic24/nbproject/
pic24/nbproject/*.*
pic24/h/
pic24/src/

# include build-folders, HEX files and Executables
!*/dist/
!*.map
!*.xml
!*.elf
!*.hex
!*.exe

# Additionally ignored files add by SourceTree
dcdt_project.xml
dspic/Makefile
pic24/Makefile
